.btn-primary, .operator, .clear, .Equals {
  background-color: #FFFAFA;
}

.button {
  border-radius: 10px;
  margin: 2px;
}

#Calculator__Clear {
  grid-column: 1/3;
  grid-row: 1/2;
}

#Calculator__Percentage {
  grid-column: 3/4;
  grid-row: 1/2;
}

#Calculator__Divide {
  grid-column: 4/5;
  grid-row: 1/2;
}

#Calculator__Seven {
  grid-column: 1/2;
  grid-row: 2/3;
}

#Calculator__Eight {
  grid-column: 2/3;
  grid-row: 2/3;
}

#Calculator__Nine {
  grid-column: 3/4;
  grid-row: 2/3;
}

#Calculator__Multiply {
  grid-column: 4/5;
  grid-row: 2/3;
}

#Calculator__Four {
  grid-column: 1/2;
  grid-row: 3/4;
}

#Calculator__Five {
  grid-column: 2/3;
  grid-row: 3/4;
}

#Calculator__Six {
  grid-column: 3/4;
  grid-row: 3/4;
}

#Calculator__Minus {
  grid-column: 4/5;
  grid-row: 3/4;
}

#Calculator__One {
  grid-column: 1/2;
  grid-row: 4/5;
}

#Calculator__Two {
  grid-column: 2/3;
  grid-row: 4/5;
}

#Calculator__Three {
  grid-column: 3/4;
  grid-row: 4/5;
}

#Calculator__Plus {
  grid-column: 4/5;
  grid-row: 4/5;
}

#Calculator__Zero {
  grid-column: 1/3;
  grid-row: 5/6;
}

#Calculator__Dot {
  grid-column: 3/4;
  grid-row: 5/6;
}

#Calculator__Equals {
  grid-column: 4/5;
  grid-row: 5/6;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: 2rem;
  }
}
* {
  background-color: #6396B0;
  color: #434445;
}

#Calculator {
  display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 25px;
  padding: 7px;
}

#Calculator-Head {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 100px;
  height: 115px;
  width: 315px;
  background-color: #FFFAFA;
  color: #434445;
  border: 4px solid #434445;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

#current-input {
  background-color: #FFFAFA;
}

#Calculator__Input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 315px;
  width: 315px;
  background-color: #bdb2b2;
  color: #434445;
  border: 4px solid #434445;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  #Calculator {
    margin-top: 5px;
  }

  #Calculator-Head {
    height: 150px;
    width: 500px;
  }

  #Calculator__Input {
    height: 500px;
    width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  #Calculator {
    margin-top: 75px;
  }

  #Calculator-Head {
    height: 150px;
    width: 450px;
  }

  #Calculator__Input {
    height: 450px;
    width: 450px;
  }
}
@media screen and (min-width: 1440px) {
  #Calculator {
    margin-top: 10px;
  }

  #Calculator-Head {
    height: 100px;
    width: 450px;
  }

  #Calculator__Input {
    height: 450px;
    width: 450px;
  }
}