@import "_variables";

*{
  background-color: #6396B0;
  color: $primary-colors;
}

#Calculator{
  display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap; 
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 25px;
  padding: 10px;
}

#Calculator-Head{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 150px;
  height: 100px;
  width: 450px;
  background-color: $secondary-colors;
  color: $primary-colors;
  border: 4px solid $primary-colors;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
}

#current-input{
  background-color: $secondary-colors;
}

#Calculator__Input{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  width: 450px;
  background-color: $tertiary-colors;
  color: $primary-colors;
  border: 4px solid $primary-colors;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}


@media screen and (min-width: 768px){ 
#Calculator{
  margin-top: 50px;  
}
#Calculator-Head{
  height: 150px;
  width: 500px;
}
#Calculator__Input{
  height: 500px;
  width: 500px;
}
}

@media screen and (min-width: 1024px){ 
  #Calculator{
    margin-top: 75px;  
  }
  #Calculator-Head{
    height: 100px;
    width: 450px;
  }
  #Calculator__Input{
    height: 450px;
    width: 450px;
  }
}
@media screen and (min-width: 1440px) {
  #Calculator {
    margin-top: 10px;
  }

  #Calculator-Head {
    height: 100px;
    width: 450px;
  }

  #Calculator__Input {
    height: 450px;
    width: 450px;
  }
}
  
